/* stub css for linters */
body {
  box-sizing: border-box;
}

#form {
  display: none;
  background-color: black;
  position: absolute;
  top: 0.9;
  left: 0.5;
  transform: translateX(-0.5);
}

#form > input {
  color: #fff;
  font-size: 20px;
}
